{% extends 'base.html' %}
{% block content %}

    <section class="tv-paddingT100 tv-bgbanner" id="menu">
            <div class="container">
                <div class="row">
                    <div class="tv-menu">
                        <div class="col-md-12 col-sm-12 col-xs-12 tv-whitebgclr">
                            <div class="tab-content">
                                <div id="breakfast" class="tab-pane fade active in">
                                    <div class="row">
                                        {% for item in order_item %}
                                        <div class="col-md-4 col-sm-4 col-xs-6 width-100perc">
                                                <div class="tv-menu-items">
                                                    <div class="tv-menu-item-img">
                                                        <img src="{{ item.menu_item.food.image.url }}" alt="food_img" class="img-responsive">
                                                    </div>
                                                    <div class="tv-menu-item-name">

                                                        <h4>{{ item.menu_item.food.name }}</h4>
                                                        <br>
                                                        <h4>{{ item.menu_item.branch.name }}</h4>
                                                        <br>
                                                        <h5>|{{ item.order.created_jalali }}</h5>
                                                        <br>
                                                        <h5>quantity:{{ item.quantity }}</h5>
                                                        <span class="tv-menu-item-price">
                                                            <h4>{{ item.order.status }}</h4>
                                                        </span>
                                                    </div>

{#                                                    <button class="btn btn-warning"><a href="{% url 'edit_order_status' item.order.pk %}">Edit order status</a></button>#}

                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>


{% endblock content %}
