{% extends 'base.html' %}
{% load static %}
    {% block content %}


        <section class="tv-paddingT100 tv-bgbanner" id="menu">
            <div class="container">
                <div class="row">
                    <div class="search-box">
                        <div class="">
                            <form action=""  method="POST" class="input-group input-group-lg">
                                {% csrf_token %}
                            <input type="text" name="text" id="SearchInput" maxlength="40" class="form-control" placeholder="search...">
                            <span class="input-group-btn">
                                <button id="SearchBtn" class="btn btn-default" type="button"><i class="fa fa-search fa-lg text-g2"></i></button>
                            </span>
                            </form>
                            <div id="linksSection">
                                <ul id="searchResult" class="tv-whitebgclr">

                                </ul>

                        </div>
                        </div>


                    </div>
                    <br><br>
                    <div class="tv-block-heading">
                        <h2>FOODS</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="tv-menu">
                        <div class="col-md-12 col-sm-12 col-xs-12 tv-whitebgclr">
                            <div class="tab-content">
                                <div id="breakfast" class="tab-pane fade active in">
                                    <div class="row">
                                             {% for item in menu_item %}
                                            <div class="col-md-4 col-sm-4 col-xs-6 width-100perc">
                                                <div class="tv-menu-items">
                                                    <div class="tv-menu-item-img">
                                                        <img src="{{ item.food.image.url }}" alt="menu-item" class="img-responsive">
                                                    </div>
                                                    <div class="tv-menu-item-name">
                                                        <h4><a href="{% url 'food_detail' item.food.pk %}">{{ item.food.name }}</a></h4>
                                                        <br>
                                                        <h4><a href="{% url 'public_branch_menu' item.branch.pk %}">{{ item.branch.name }}</a> | {{ item.branch.restaurant.name }}</h4>
                                                        <br><br>
                                                        <button class="btn btn-warning"><a href="{% url 'food' item.pk %}"><h3>view</h3></a></button>
                                                        <span class="tv-menu-item-price">
                                                            <ins>{{ item.price }} T</ins>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% if best_foods %}
        <section class="tv-paddingT100 tv-bgbanner" id="best_foods">
            <div class="container">
                <div class="row">
                    <div class="tv-block-heading">
                        <h2>Best foods</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="tv-menu">
                        <div class="col-md-12 col-sm-12 col-xs-12 tv-whitebgclr">
                            <div class="tab-content">
                                <div id="breakfast" class="tab-pane fade active in">
                                    <div class="row">
                                             {% for food in best_foods %}
                                            <div class="col-md-4 col-sm-4 col-xs-6 width-100perc">
                                                <div class="tv-menu-items">
                                                    <div class="tv-menu-item-img">
                                                        <img src="{{ food.image.url }}" alt="menu-item" class="img-responsive">
                                                    </div>
                                                    <div class="tv-menu-item-name">
                                                        <h4>{{ food.name }}</h4>
                                                        <br>
{#                                                        <h4><a href="{% url 'public_branch_menu' food.menu_items.branch.pk %}">{{ item.menu_items.branch.name }}</a></h4>#}
{#                                                        <h4>{{ item.branch.name }}</h4>#}

                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        {% if best_branches %}
        <section class="tv-paddingT100 tv-bgbanner" id="best_brances">
            <div class="container">
                <div class="row">
                    <div class="tv-block-heading">
                        <h2>Best branches</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="tv-menu">
                        <div class="col-md-12 col-sm-12 col-xs-12 tv-whitebgclr">
                            <div class="tab-content">
                                <div id="breakfast" class="tab-pane fade active in">
                                    <div class="row">
                                             {% for branch in best_branches %}
                                            <div class="col-md-4 col-sm-4 col-xs-6 width-100perc">
                                                <div class="tv-menu-items">
                                                    <div class="tv-menu-item-name">
                                                        <h4><a href="{% url 'public_branch_menu' branch.pk %}">{{ branch.name }}</a></h4>
                                                        <br>
                                                        <h4>{{ branch.restaurant.name }}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
{% endblock content %}
{% block script %}
    <script>
    console.log('___in__')
        var CSRF_TOKEN = '{{ csrf_token }}';
        var URL = "{% url 'search' %}"

        $( document ).ready(function() {
            console.log('__pre')
            $('#SearchBtn').on('click',function (){
                send_ajax($('#SearchInput').val())

            });

            function send_ajax(input_data) {
                data = {
                    'csrfmiddlewaretoken' : CSRF_TOKEN,
                    'text' : input_data
                };
                console.log(data)
                $.ajax({
                    type: 'POST',
                    url: URL,
                    dataType: 'json',
                    data:data,
                    success: function (res){
                        show_results(res)
                    }
                });
            }

            function show_results(data) {
                ul_tag = $('#searchResult')
                ul_tag.empty()
                if (data['foods']) {
                    for (const [key, value] of Object.entries(data['foods'])) {
                        var li = document.createElement('li');
                        food_id = value['pk']
                        branch_id = value['branch_id']
                        link_menu = `/public_branch_menu/${branch_id}/`
                        link_food = `/food_order/${food_id}/`
                        console.log(link_menu)
                        li.innerHTML = `<h3><a href=${link_food}>${value['food__name']}</a> | <a href="${link_menu}">${value['branch__name']}</a></h3>`
                        console.log("*", key, value);

                        ul_tag.append(li)
                    }
                }else{
                    ul_tag.append()
                }
                if (data['branches']) {
                    for (const [key, value] of Object.entries(data['branches'])) {
                        var li = document.createElement('li');
                        branch_id = value['pk']
                        link_menu = `/public_branch_menu/${branch_id}/`
                        console.log(link_menu)
                        li.innerHTML = `<h3><a href=${link_menu}>${value['name']}</a></h3>`
                        console.log("*", key, value);

                        ul_tag.append(li)
                    }
                }else{
                    ul_tag.append()
                }
            }
        });
    </script>
{% endblock %}

